@import "main.scss";

starry {
  display: flex;
  flex: 0 1 auto;
  // width: calc(100% - #{$panelMargin * 2});
  // height: calc(100% - #{$panelMargin * 2});
  // margin: $panelMargin;
  // border-radius: $border-radius;
  width: 100%;
  height: 100%;
  position: relative;
}

#starry-background-canvas {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}


#starry-canvas {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#starry-svg {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  // cursor: move;
}

#starry-tree-svg {
  border-radius: $border-radius;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
  width: 300px;
  height: 500px;
}

#starry-svg .keyword {
  cursor: pointer;
  text-anchor: middle;
  font-size: 15px;
  transition: font-size .5s;
}

#starry-svg .keyword:hover {
  font-size: 25px;
  font-style: bold;
  fill: #FED731;
}

#starry-svg .keyword.focus-keyword {
  font-size: 25px;
  font-style: bold;
  fill: #CD5C5C;
}

#starry-svg .keyword.children {
  fill: #088DA5;
  font-size: 20px;
}

#starry-svg .keyword.parent {
  fill: #ff6332;
  font-size: 30px;
}

#starry-svg .keyword.node-inspect {
  font-size: 25px;
  font-style: bold;
  fill: #CD5C5C;
}

.add-canvas {
  position: absolute;
  z-index: 100;
}

.virtual {
  visibility: hidden;
  fill: rgb(255, 0, 0);
}

svg image {
  cursor: pointer;
}

.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}
