<div class="viewer">
  <div class="header">
    <span class="fui-arrow-left expand" ng-hide="!closing"></span>
    <span class="fui-cross close" ng-hide="closing"></span>
  </div>
  <div class="content">
    <img class="inspect-image" ng-src="{{imagesrc}}" ng-click="clickImage()">
    </img>
    <div class="inspect-image-caption">{{caption}}</div>
    <span ng-hide="closing" ng-click="leftclick()" ng-style="arrowStyle" class="fui-arrow-left arrow-left"></span>
    <span ng-hide="closing" ng-click="rightclick()" ng-style="arrowStyle" class="fui-arrow-right arrow-right"></span>
  </div>
</div>
