<div class="form-group search-bar">
	<div class="input-group">
		<span class="input-group-addon">
			<span class="fui-list" ng-click="dashboardvisible = (dashboardvisible + 1)%2; $event.stopPropagation();"></span>
		</span>
		<!-- input search-keyword -->
		<input class="form-control" id="search-keyword" type="text" placeholder="Search">
		<span class="input-group-btn search-submit">
				<button type="submit" class="btn">
					<span class="fui-search"></span>
				</button>
		</span>
	</div>
</div>

<div class="dashboard" ng-class="dashboardvisible === 0 ? 'dashboard-hidden' : '' ">
	<div class="selection">
		<!-- semanticQuery -->
		<div class="selection-group border-line">
			<div class="selection-addon">
				<span class="title">Sematic Query</span>
				<span class="fui-search icon" ng-click="semanticQuery()"></span>
			</div>
			<!-- keywords -->
			<ul class="menu">
				<div class="title">KeyWords :</div>
				<li ng-repeat="word in keywords track by $index"><a href="#">
					{{word[0]}}
					<span class="action">
						<span class="glyphicon" ng-class="word[1] === 'plus' ? 'glyphicon-plus' : 'glyphicon-minus' " ng-click="changeAction($index, 'word'); $event.stopPropagation();"></span>
						<span class="glyphicon glyphicon-remove" ng-click="deleteKeyword($index); $event.stopPropagation();"></span>
					</span>
					</a>
				</li>
				<li class="add-word-row" ng-show="!adding_query_word"><span class="fui-plus add-word-icon" ng-click="adding_query_word = true;"></span></li>
				<li class="add-word-row" ng-show="adding_query_word">
					<input type="text" value="" placeholder="input" class="form-control add-input" id="add-query-word">
					<span class="glyphicon glyphicon-ok" id="add-word-submit" ng-click="adding_query_word = false;"></span>
					<span class="glyphicon glyphicon-remove" ng-click="adding_query_word = false;"></span>
				</li>
			</ul>
			<!-- keyimage -->
			<ul class="menu">
				<div class="title">KeyImages :</div>
				<li ng-repeat="image in keyimages track by $index">
					<a href="#" ng-click="locateImage(image[0].id); $event.stopPropagation();">
						{{image[0].id.split('_')[2]}}
						<span class="action">
							<span class="glyphicon" ng-class="image[1] === 'plus' ? 'glyphicon-plus' : 'glyphicon-minus' " ng-click="changeAction($index, 'image'); $event.stopPropagation();"></span>
							<span class="glyphicon glyphicon-remove" ng-click="deleteKeyimage($index); $event.stopPropagation();"></span>
						</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- word structure -->
		<div class="selection-group border-line" ng-show="word.text !== ''">
			<div class="selection-addon">
				<span class="title">Word Structure</span>
				<span class="fui-play icon" ng-click="reConstructWord()"></span>
			</div>
			<!-- word parents -->
			<ul class="menu">
				<div class="title">Parents :</div>
				<li ng-repeat="parent in word.parents track by $index">
					<a href="#" ng-click="selectWordConstructor($index)" ng-show="!modifying" ng-class="{'border-bottom-line': $index===0 && word.parents.length > 1}">
						{{parent.word}}
						<span class="action" ng-class="{'constructor-glyph': word.parentIndex === $index}">
							<span class="glyphicon glyphicon-remove" ng-click="removeWordConstructor($index)"></span>
						</span>
					</a>
				</li>
			</ul>
			<!-- word children -->
			<ul class="menu">
				<div class="title">Children :</div>
				<li ng-repeat="child in word.children track by $index">
					<a href="#">
						{{child.word}}
						<span class="action"></span>
					</a>
				</li>
			</ul>
		</div>

		<!-- image structure -->
		<div class="selection-group border-line" ng-show="image.id !== ''">
			<div class="selection-addon">
				<span class="title">Image Structure</span>
				<span class="fui-play icon" ng-click="reConstructImage()"></span>
			</div>
			<ul class="menu">
				<div class="title">Constructors :</div>
				<li ng-repeat="word in image.parents track by $index">
					<a href="#" ng-click="selectImageConstructor($index)" ng-class="{'border-bottom-line': $index===0 && image.parents.length > 1}">
						{{word.word}}
						<span class="action" ng-class="{'constructor-glyph': image.parentIndex === $index}">
							<span class="glyphicon glyphicon-remove"></span>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="loading">
		<div class="spinner hidden">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>
</div>
